name: Run Paranoia on Paranoia

on: workflow_dispatch
env:
  GITHUB_CONTEXT: ${{ toJSON(github) }}
  CONTAINER_TAR: "container.tar"
jobs:
    paranoia-inception:
      runs-on: ubuntu-latest
      steps:
        - name: "Checkout code"
          uses: actions/checkout@v3

        - name: "Build container"
          run: |
            docker build -t paranoia .

        - name: "Save container to tar"
          run: |
            docker save paranoia > $CONTAINER_TAR

        - run: ls -la

        - name: "Run Paranoia container"
          uses: ./
          with:
            action: inspect
            target_tar: file://$CONTAINER_TAR
