name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ linux, darwin ]
        arch: [ amd64, arm64 ]
    steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19.x
      - uses: actions/checkout@v3
      - name: Go Build
        run: CGO_ENABLED=0 GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -a -installsuffix cgo -o paranoia .
      - uses: actions/upload-artifact@v3
        with:
          name: paranoia-${{ matrix.os }}-${{ matrix.arch }}
          path: paranoia

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Documentation Build
        run: go run ./hack/generate-manual
      - uses: actions/upload-artifact@v3
        with:
          name: man-pages
          path: man/

  release:
    needs:
      - build
    runs-on: ubuntu-latest
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
      - name: Rename Artifacts
        run: |
          mkdir bin
          mv paranoia-darwin-amd64/paranoia bin/paranoia-darwin-amd64 
          mv paranoia-darwin-arm64/paranoia bin/paranoia-darwin-arm64 
          mv paranoia-linux-amd64/paranoia bin/paranoia-linux-amd64 
          mv paranoia-linux-arm64/paranoia bin/paranoia-linux-arm64
          mkdir man
          mv man-pages/* man/
      - name: Generate hashes
        shell: bash
        id: hash
        run: |
          echo "hashes=$(sha256sum bin/paranoia-darwin-amd64 bin/paranoia-darwin-arm64 bin/paranoia-linux-amd64 bin/paranoia-linux-arm64 | base64 -w0)" >> "$GITHUB_OUTPUT"
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            LICENSE.txt
            bin/paranoia-*
            man/*
  
  provenance-for-binaries:
    needs:
      - release 
    permissions:
      actions: read # Needed for detection of GitHub Actions environment.
      id-token: write # Needed for provenance signing and ID.
      contents: write # Needed for release uploads.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v1.8.0
    with:
      base64-subjects: "${{ needs.release.outputs.hashes }}"
