name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ linux, darwin ]
        arch: [ amd64, arm64 ]
    steps:
      - uses: actions/checkout@v3
      - name: Go Build
        run: CGO_ENABLED=0 GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -a -installsuffix cgo -o paranoia .
      - uses: actions/upload-artifact@v3
        with:
          name: paranoia-${{ matrix.os }}-${{ matrix.arch }}
          path: paranoia

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Documentation Build
        run: go run ./hack/generate-manual
      - uses: actions/upload-artifact@v3
        with:
          name: man-pages
          path: man/

  release:
    needs:
      - build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
      - name: Rename Artifacts
        run: |
          mkdir bin
          mv paranoia-darwin-amd64/paranoia bin/paranoia-darwin-amd64 
          mv paranoia-darwin-arm64/paranoia bin/paranoia-darwin-arm64 
          mv paranoia-linux-amd64/paranoia bin/paranoia-linux-amd64 
          mv paranoia-linux-arm64/paranoia bin/paranoia-linux-arm64
          mkdir man
          mv man-pages/* man/
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            LICENSE.txt
            bin/paranoia-*
            man/*
